<%- include ('../shared/general-html/head.ejs')%>
<%- include ('header.ejs') %>
<%- include ('./error_message.ejs')%>
<h1 class="text-center"><b>Authors</b></h1>
<br>

<form action="/authors/new" method="get">
    <button type="submit" class="ml-5 mb-3 btn btn-lg btn-success"><span class="glyphicon glyphicon-pencil"></span> Add Author</button>
</form>


<!--Authors list-->
<div class="container">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Author ID</th>
            <th>Full Name</th>
            <th>Country</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Status</th>
        </tr>
        <!--Iterar con un for-->
        <%authors.forEach((author)=> { %>
          <%const isActive = author.status%>

        <tr>
            <td>
                <%= author.idAuthor%>
            </td>
            <td>
                <%= author.fullName%>
            </td>
            <td>
                <%= author.country%>
            </td>
            <td>
                <%= author.description%>
            </td>
            <td>
                <form action="/authors/admin/edit/<%= author.idAuthor%>" method="get">
                    <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-edit"></span> Edit</button>
                </form>

            </td>
            <td>
                <form action="/authors/admin/status/<%= author.idAuthor%>" method="get">
                    <button type="submit"
                    <%if(isActive){%>
                            class="btn btn-danger"
                    <%}else{%>
                            class="btn btn-success"
                            <%}%>
                    >
                        <span class="glyphicon glyphicon-minus-sign"></span>
                        <%if(isActive){%>
                            Disable
                        <%}else{%>
                            Enable
                        <%}%>
                    </button>
                </form>
            </td>
        </tr>
        <% })%>
    </table>
    <hr>
</div>