<%- include ('../shared/general-html/head.ejs')%>
<%- include ('shared/header.ejs')%>
<!--Imagen de categoría-->
<h1 class="text-center mb-2"><b><%= category.toUpperCase() %>S</b></h1>
<div class="container text-center">
    <img src="/images/categories/<%= category %>.png" alt="Category Image">
</div>
<hr>
<!--Búsqueda-->
<form action="/activities/<%= category %>" method="get" class="form-inline active-pink-3 active-pink-4 justify-content-center mt-4 ">
    <!--Falta agregar un label-->
    <input class="form-control form-control-sm ml-3 w-50 mr-1" type="text" placeholder="What <%= category %> are you looking for?"
      aria-label="Search" name="q">
      <span><button type="submit" class="btn btn-primary">Search</button></span>
  </form>

  <% if (typeof activitiesArray != 'undefined'){%>
  <!--Item de categoría--> 
<div class="container">
    <% if (typeof search != 'undefined') {%>
    <h3 class="mb-2"><strong>Search Results</strong></h3>
    <% } %>
   
        
          <!--Recorrer con un for-->
        <% activitiesArray.forEach((activity) => {%>
            <% if (activity.status) { %>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                            <div class="col-sm-12">
                                <h4><b><%= activity.name %></b></h4>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                <% if (activity.type != 'Tour') { %>
                                    <h5><%= activity.initialDate %> - <%= activity.finalDate %></h5>
                                <% } else {  %>
                                    <h5>EVERYDAY</h5>
                                <% }%>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="/activities/<%= category %>/<%= activity.idActivity %>"><img class="img-responsive" width="260px" src="<%= activity.imagePath %>"></a>
                        </div>
                        <div class="col-sm-10 pl-5 d-flex align-self-center">
                            <p class="pl-5 text-justify "><%= activity.description %></p>
                        </div>
                    </div>
                    <a href="/activities/<%= category %>/<%= activity.idActivity %>"> <button class="float-right btn btn-warning">See more</button> </a>
                </div>
            </div> 
            <% } %>
        <% }); %>
          <!--Fin For-->
        
</div>
<% } else { %>
    <div class="alert alert-danger text-center container" role="alert">
        There are no <%= category.toLowerCase() %>s matching the query!
      </div>
<% }%>

<%- include ('shared/footer.ejs')%>